<div class="container">
    <div class="header my-5">
        <h1>Envíos y entregas</h1>
    </div>
    <div class="content-cms my-5">

        <p class="western">
            ¿Cuál es el plazo de entrega de tejidosmartin.com?
        </p>
        <p>
            Los pedidos se entregan mediante MRW en un plazo medio de 2-3 días laborales (puede demorarse en periodos de
            rebajas).
        </p>
        <p>
            Cuando tu pedido salga de nuestro almacén te contactaremos vía e-mail para informarte de la fecha de entrega
            prevista.
        </p>
        <p>
            Te aconsejamos que nos indiques una dirección de entrega en la que te encuentres en horario laboral, puesto
            a que las entregas se realizan en este horario.
        </p>

        <p class="western">
            ¿Cuáles son los gastos de envío de tejidosmartin.com?
        </p>
        <p>
            Los gastos de envío se sumarán a tu pedido y los abonarás junto al importe total de la compra.
        </p>
        <p>
            Los gastos de envío tienen un coste de 3.
        </p>
        <p>
            Los pedidos a partir de 50 EUR tendrán el envío gratuito.
        </p>

        <p class="western">
            ¿Qué hago si mi envío no llega?
        </p>
        <p>
            Si han pasado 5 días laborables y tu pedido no ha llegado, puedes contactar con nosotros enviando un mail a
            través del formulario de contacto o llamándonos al teléfono 99 999 99 99 y estaremos encantados de ayudarte.
        </p>

        <p class="western">
            ¿Qué hago si mi envío ha llegado en mal estado?
        </p>
        <p>
            Si el pedido ha llegado en mal estado, ponte en contacto con nosotros a través del formulario de contacto o
            llamándonos al teléfono 99 999 99 99.
        </p>

        <p class="western">
            ¿Dónde enviáis vuestros pedidos?
        </p>
        <p>
            Actualmente hacemos envíos únicamente a las islas canarias
        </p>
        <p>
            El coste para los envíos es el mismo independientemente de la ciudad de entrega.
        </p>
    </div>
</div>