<ng-container *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="false">

</ng-container>