<div class="container">
    <div class="header my-5">
        <h1>Devoluciones</h1>
    </div>

    <div class="content-cms my-5">
        <p>
            Tu satisfacción ante tu compra es muy importante para nosotros, así que si no estás plenamente satisfecho
            con tu
            pedido podrás devolverlo y recibir el reembolso de su importe.
        </p>
        <p>
            En todos los casos el artículo deberá conservar su etiqueta y no podrá haber sido utilizado ni dañado. El
            artículo devuelto deberá encontrarse en el mismo estado en que se entregó y sólo podrá tramitarse una única
            petición de devolución por pedido.
        </p>
        <p>
            Tendrás que devolverlo junto con el <b class="western">albarán de tu pedido</b>.
        </p>
        <p>
            La devolución deberá realizarse en un <b class="western">plazo máximo de 15 días laborables</b> a partir de
            la fecha de entrega del
            pedido mediante correo certificado a la siguiente dirección:
        </p>
        <p>
            C/ La prensa, 13, Polígono Z, 08150 Parets del Vallés (Barcelona)
        </p>
        <p>
            Los <b class="western">gastos de envío</b> de la devolución mediante correo certificado correrán a tu cargo.
        </p>
        <p>
            Los gastos correrán a cargo de Tejidos Martin en los siguientes casos:
        </p>
        <ul>
            <li>
                <p>
                    La prenda tiene un defecto de fabricación o se encuentra dañada en el momento de la recepción.
                </p>
            </li>
            <li>
                <p>
                    El envío no coincide con la referencia, talla o color solicitada al hacer el pedido.
                </p>
            </li>
        </ul>
        <p>
            En cuanto recibamos la devolución y validemos que cumple con los requisitos anteriormente mencionados nos
            pondremos en contacto contigo vía e-mail para confirmarte la devolución y comunicarte que procedemos a
            realizar el reembolso.
        </p>
        <p>
            Se <b class="western">reembolsará</b> el importe del producto en un máximo de treinta (30) días siguientes
            de recibir la
            notificación de devolución del producto, se realizará mediante el mismo método de pago que se haya utilizado
            para realizar el pedido, ya sea tarjeta de crédito o pago mediante PayPal.
        </p>
        <p>
            En el caso de realizar la devolución de un producto en promoción vinculada a cantidades (3x2, segunda unidad
            a mitad de precio, etc.) la promoción será anulada y los productos con descuento serán facturados al precio
            completo.
        </p>
    </div>
</div>