<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Sobre Tejidos Martín</h3>
                    <ul>
                        <li><a routerLink="sobre-nosotros">Sobre nosotros</a></li>
                        <li><a routerLink="contacto">Contacto</a></li>
                        <li><a href="#">Tiendas</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Política</h3>
                    <ul>
                        <li><a routerLink="aviso-legal">Aviso legal</a></li>
                        <li><a routerLink="politica-de-privacidad">Política de privacidad</a></li>
                        <li><a routerLink="cookies">Cookies de tejidosmartin.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Compra con confianza</h3>
                    <ul>
                        <li><a routerLink="pago-seguro">Formas de pago</a></li>
                        <li><a href="#">Envíos y entregas</a></li>
                        <li><a href="#">Devoluciones</a></li>
                    </ul>
                </div>
                <div class="col item social m-auto">
                    <a href="#" target="_blank"><i class="icon icon-twitter"></i></a>
                    <a href="https://es-es.facebook.com/tejidosmartin/" target="_blank"><i class="icon icon-facebook"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Tejidos Martin © 2022</p>
        </div>
    </footer>
</div>