<div class="sproduct my-2 pt-3">
    <div class="text-center">
        <h1>Detalles del producto</h1>
    </div>
    <div class="row mt-3">
        <div class="col-lg-5 col-md-12 col-12">
            <img [src]="producto | imagen" alt="" class="img-fluid w-100 pb-1">

            <div class="small-img-group">
                <div class="small-img-col">
                    <img [src]="producto | imagen" alt="" width="100%" class="small-img">
                </div>

                <div class="small-img-col">
                    <img [src]="producto | imagen" alt="" width="100%" class="small-img">
                </div>

                <div class="small-img-col">
                    <img [src]="producto | imagen" alt="" width="100%" class="small-img">
                </div>

                <div class="small-img-col">
                    <img [src]="producto | imagen" alt="" width="100%" class="small-img">
                </div>
            </div>

        </div>

        <div class="col-lg-5 col-md-12 col-12">

            <div class="mt-2">
                <h1>{{producto.nombre}}</h1>
            </div>

            <h3 class="py-1">Tipo: <b>{{producto.familia}}</b></h3>
            <h3>Precio: {{producto.precio | currency:"EUR":"symbol-narrow":"1.0-4"}}</h3>

            <input type="number" value="1">
            <button mat-raised-button color="primary" (click)="addToCarrito(producto)">Añadir al carrito</button>

            <div class="mt-3">
                <h1>Descripcion</h1>
            </div>

            <div class="mt-1 mb-3">
                <span>{{producto.descripcion}}</span>
            </div>
            
        </div>


    </div>
</div>