<div class="container">
    <div class="header my-5">
        <h1>Pago seguro</h1>
    </div>
    <div class="content-cms my-5">
        <p class="western">
            ¿Cómo puedo realizar el pago?
        </p>
        <p>
            Puedes pagar tus compras con tarjeta de crédito o débito o a través de Paypal. El cargo en tu cuenta se
            efectuará una vez aparezca la confirmación de tu compra.
        </p>

        <p class="western">
            ¿La compra es segura?
        </p>
        <p>
            Sí, en Surkana nos aseguramos de que la seguridad sea máxima a la hora de realizar tus pagos. Gracias al
            protocolo cifrado de seguridad SSL (Secure Socket Layer), que protege tus datos, tu compra en Surkana queda
            protegida del acceso de terceros, de manera que resulta completamente confidencial.
        </p>
        <p>
            Además, para que la seguridad quede completamente garantizada, usamos una pasarela de pago protegida por la
            tecnología 3DSECURE, que cumple los protocolos Verified by VISA" y "MasterCard SecureCode".
        </p>
        <p>
            En ningún momento de la compra almacenamos los datos de tu tarjeta o cuenta de Paypal. Son las propias
            plataformas quien nos indican si el pago ha sido realizado o no después de la validación de tus datos y del
            código de seguridad de tu tarjeta (CV2) que sólo tú conoces.
        </p>

        <p class="western">
            ¿Hay algún coste extra según la forma de pago?
        </p>
        <p>
            No, tú no pagarás más sea cual sea tu forma de pago.
        </p>
    </div>
</div>