<div class="container">
    <div class="header my-5">
        <h1>Política de Privacidad</h1>
    </div>
    <div class="content-cms my-5 ">
        <p>
            La presente política de privacidad es aplicable al Sitio Web www.tejidosmartin.com titularidad de Tejidos Martin
            SL. El acceso y uso del mismo, ya sea para navegar por sus páginas o para formalizar una compra online,
            otorga la condición de Usuario al visitante del Sito Web. Acción que implica la total aceptación, sin
            reservas, por parte del Usuario de estas condiciones de uso. En caso de no aceptación, rogamos no utilice la
            Web.
        </p>
        <p>
            Es por ello, que antes de empezar a usar nuestro Sitio Web deberá leer el Aviso legal, la Política de
            Privacidad, Política de cookies, las condiciones de compra y cualquier otro texto legal que regule su uso y
            que podrá consultar en el apartado “Información” del pie del Sitio Web.
        </p>
        <p>
            Si durante el acceso al Sitio Web se requieren Datos Personales para poder prestarle nuestros servicios se
            hará de acuerdo a las siguientes premisas:
        </p>

        <div class="my-4">
            <p class="western">
                1. RECOGIDA DE DATOS Y FINALIDADES DEL TRATAMIENTO
            </p>
            <p>
                Durante el proceso de recogida de Datos Personales en los diferentes formularios de nuestro Sitio Web se
                le indicará que información es obligatoria para completar el proceso. En caso de no facilitarla no nos
                será posible prestarle el servicio o facilitarle el acceso a determinadas funcionalidades implementadas
                en el Sitio Web.
            </p>

            <p>
                Al rellenar el Usuario estos formularios de recogida de Datos Personales autoriza expresamente al
                titular
                del Sitio Web para el uso de sus datos con las finalidades abajo indicadas.
            </p>

            <p>
                Es responsabilidad del Usuario proporcionar datos exactos y ciertos, así como comunicar cualquier cambio
                o modificación de los mismos.
            </p>

            <p>
                Las finalidades de la recogida de sus Datos Personales son las siguientes:
            </p>

            <ul>
                <li>
                    <p>facilitar información, en respuesta a las consultas web realizadas a través del apartado
                        Contacto.</p>
                </li>
                <li>
                    <p>
                        Gestionar su registro, facilitándole el acceso al área de Usuario en la que podrá gestionar y
                        visualizar toda la información tanto personal como de su compra online. Desde el acceso a esta
                        área
                        de Usuario usted podrá mantener actualizados sus datos, así como decidir si desea recibir ó no
                        comunicaciones comerciales nuestras.. Si desea dar de baja su registro al área de usuario lo
                        deberá
                        realizar enviando una petición a web@tejidosmartin.com. Le recordamos que si solicita su baja de esta
                        área
                        se tramitará la baja de su registro pero no los datos de las transacciones realizadas, ya que se
                        mantendrán el tiempo estipulado por las diversas obligaciones de la empresa.
                    </p>

                </li>
                <li>
                    <p>
                        Remitirle nuestro boletín de noticias tras la suscripción a nuestro servicio de newsletters o
                        tras
                        autorizarnos la remisión de comunicaciones comerciales en cualquiera de los formularios que
                        Usted ha
                        rellenado. Le recordamos que Usted en cualquier momento y desde las propias comunicaciones podrá
                        darse de baja. Las comunicaciones comerciales que reciba serán siempre en relación a los
                        productos o
                        servicios propios de la entidad Tejidos Martin SL.
                    </p>
                </li>
                <li>
                    <p>Remitirle información sobre las condiciones de venta de los productos de tejidos martin en tu tienda.
                    </p>
                </li>
            </ul>
        </div>

        <div class="my-4">
            <p class="western">2. CONSERVACION DE LA INFORMACION</p>

            <p>
                Se informa al Usuario de que, en cumplimiento del principio de limitación del plazo de conservación, los
                datos recogidos serán tratados única y exclusivamente durante el tiempo necesario y para las finalidades
                para las que se hayan recabado en cada momento. Serán pues mantenidos de forma que se permita la
                identificación de los interesados durante no más tiempo del necesario para los fines del tratamiento de
                los datos personales.
            </p>
        </div>

        <div class="my-4">
            <p class="western">3. CESTION DE LOS DATOS PERSONALES</p>

            <p>
                Para cumplir las finalidades indicadas en el punto 1 de la Política de Privacidad, puede resultar
                necesario que comuniquemos o cedamos sus Datos Personales a terceras entidades que nos presten servicios
                de soporte para poderle ofrecer correctamente nuestro servicio. Entre estas entidades se encuentran
                entidades financieras, proveedores de servicios tecnológicos, de logística, transporte y entrega, etc.
            </p>

            <p>
                En algunos casos, como puede ser el de los proveedores tecnológicos, dichas entidades se encuentran en
                países como Estados Unidos, verificando que nuestros proveedores se encuentran adheridos al “Privacy
                Shield”, u otros países o territorios situados fuera del Espacio Económico Europeo, con un nivel
                adecuado de protección. Al aceptar esta Política de Privacidad, usted nos autoriza expresamente a tratar
                y comunicar sus Datos Personales a estas terceras entidades y/o a transferir sus Datos Personales a los
                referidos prestadores de servicios ubicados fuera del Espacio Económico Europeo para las finalidades
                aquí descritas.
            </p>
        </div>

        <div class="my-4">
            <p class="western">4. DERECHOS DE PROTECCION DE DATOS.</p>

            <p>
                En cualquier momento podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición
                mediante el envío de un correo electrónico a: web@tejidosmartin.com, indicándonos el motivo de su solicitud.
                Le recordamos que estos derechos únicamente podrán ser ejercitados por el propio interesado, por lo que
                podemos solicitarle copia de su DNI, pasaporte u otro documento válido que lo identifique.
            </p>
        </div>

        <div class="my-4">
            <p class="western">5. MEDIDAS DE SEGURIDAD</p>

            <p>
                Nos comprometemos a garantiza el deber de secreto y confidencialidad en el tratamiento de los datos
                personales, adoptando los niveles de seguridad de protección de los datos de carácter personal
                legalmente requeridos, e instalando todos los medios y medidas técnicas a su alcance para evitar la
                pérdida, mal uso, alteración, acceso no autorizado y robo de los mismos.
            </p>
        </div>

        <div class="my-4">
            <p class="western">6. INFORMACIÓN SOBRE COOKIES</p>

            <p>
                Utilizamos cookies, que son pequeños ficheros con información sobre su navegación en esta Plataforma y
                cuya finalidad principal es facilitar su navegación en la misma. Por favor, lea nuestra Política de
                Cookies para conocer con mayor detalle las cookies que usamos, su finalidad y otra información de
                interés.
            </p>
        </div>

        <div class="my-4">
            <p class="western">7. CAMBIO NORMATIVA</p>

            <p>
                Tejidos Martin SL. se reserva el derecho de modificar la presente política con el objeto de adaptarla a
                las novedades legislativas o jurisprudenciales.
            </p>
        </div>
    </div>
</div>