<div class="my-4">
    
    <app-title [titulo]="titulo"></app-title>

    <div class="keen-slider" #sliderRef>

        <div class="keen-slider__slide number-slide1">
            <div class="container-img">
                <a href="" target="_blank"><img src="assets/img/brands/lacoste-logo.png"></a>
            </div>
        </div>

        <div class="keen-slider__slide number-slide2">
            <div class="container-img">
                <a href="" target="_blank"><img src="assets/img/brands/levis-logo.png"></a>
            </div>
        </div>

        <div class="keen-slider__slide number-slide3">
            <div class="container-img">
                <a href="" target="_blank"><img src="assets/img/brands/surkana-logo.png"></a>
            </div>
        </div>

        <div class="keen-slider__slide number-slide4">
            <div class="container-img">
                <a href="" target="_blank"><img src="assets/img/brands/tommy-logo.png"></a>
            </div>
        </div>

        <div class="keen-slider__slide number-slide5">
            <div class="container-img">
                <a href="" target="_blank"><img src="assets/img/brands/lois-logo.png"></a>
            </div>
        </div>
    </div>
</div>