<!-- <div class="container my-5">
    <h2>Our Partners</h2>
    <section class="customer-logos slider">
        <div class="slide"><img src="assets/img/brands/lacoste-logo.png">
        </div>
        <div class="slide"><img src="assets/img/brands/levis-logo.png">
        </div>
        <div class="slide"><img src="assets/img/brands/surkana-logo.png">
        </div>
        <div class="slide"><img src="assets/img/brands/tommy-logo.png">
        </div>
        <div class="slide"><img src="assets/img/brands/lois-logo.png">
        </div>
    </section>
</div> -->
<div class="container" id="#gallery-section">
    <div class="my-4">
        <div class="logo-slider">
            <div class="item"><a href=""><img src="assets/img/brands/lacoste-logo.png"></a></div>
            <div class="item"><a href=""><img src="assets/img/brands/levis-logo.png"></a></div>
            <div class="item"><a href=""><img src="assets/img/brands/surkana-logo.png"></a></div>
            <div class="item"><a href=""><img src="assets/img/brands/tommy-logo.png"></a></div>
            <div class="item"><a href=""><img src="assets/img/brands/lois-logo.png"></a></div>
        </div>
    </div>
</div>