.content {
  flex: 1 1 auto;
}

img{
  height: 450px;
}

.card{
  cursor: pointer;
}

.btn-link{
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
