<div class="row">
    <div class="col-12">
        <div class="wrapper">
            <form action="#" class="card-content">
                <div class="container">
                    <div class="image">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <h1>LET'S ENJOY THE JOURNEY | ÚNETE Y DESCUBRE</h1>
                    <p>Mantente al día sobre nuestras ofertas especiales, nuevos productos y mucho más</p>
                </div>
                <div class="form-input">
                    <label for="email"></label>
                    <input type="email" placeholder="Your Email">
                    <button class="subscribe-btn">Unirme</button>
                </div>
            </form>
        </div>
    </div>
</div>