<div class="container">
    <div class="header my-5">
        <h1>Aviso Legal</h1>
    </div>
    <div class="content-cms my-5">
        <p>
            Este sitio web y todos sus contenidos, incluyendo textos, imágenes, audio y cualquier otro material, son
            propiedad de Tejidos Martin S.L. Todos los derechos están reservados. Todo acceso a este sitio web queda
            sujeto
            a las siguientes condiciones
        </p>
        <p>
            Sólo está autorizado el uso personal no comercial. No se autoriza la copia, reproducción, transmisión,
            distribución o modificación del sitio o sus contenidos.
        </p>
        <p>
            Tejidos Martin S.L. no garantiza la exactitud, veracidad o integridad de los contenidos de este sitio web.
            Tejidos Martin S.L. no garantiza que el sitio web y el servidor estén libres de virus y no se hace
            responsable
            de los daños causados por el acceso al sitio web o por la imposibilidad de acceso al mismo.
        </p>
        <p>
            A visitar este sitio web, su navegador puede almacenar información técnica en su ordenador: el uso de
            cookies no
            proporciona ninguna información personal, ni información sobre su ordenador, sólo están destinadas a
            ayudarle a
            ahorrar tiempo cuando vuelva a visitarnos y a ayudarnos en la mejora del diseño de nuestro sitio web.
        </p>
        <p>
            Cualquier dato que los visitantes de este sitio web envíen a Tejidos Martin S.L. será incluido en su base de
            datos, de acuerdo con la Ley española 15/1999 de 13 de Diciembre.
        </p>
        <p>
            Los mencionados danos serán utilizados por Tejidos Martin S.L. con el objetivo de responder a las
            solicitudes
            enviadas. Los visitantes pueden en cualquier momento acceder a sus datos, modificarlos o cancelarlos
            escribiendo
            a nuestra dirección de correos
        </p>
    </div>
</div>