<div class="mt-5">
    <app-title titulo="sobre nostros"></app-title>
</div>

<section class="about">
    <div class="main">
        <!--  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq_G57zLb6hcdzOzaNdLA-agItSpZfcdIEBA&usqp=CAU" alt=""> -->
        <div class="about-text">

            <h5 class="text-center">Tienda <span>de moda</span></h5>
            <p>
                Tienda multimarca ubicada en el norte de la isla, cercana a Las Longueras. Está especializada en
                colecciones de temporada multimarca tanto de novio, padrino e invitados, como de novia, fiesta, madrina
                y también trajes de comunión.
            </p>
            <p>
                Disponen de un servicio outlet de fuera de temporada en donde podrás encontrar grandes descuentos. Hacen
                los arreglos necesarios de costura para que el traje quede perfectamente como tu lo desees incluido en
                el precio.
            </p>
            <p>
                Ofrecemos Venta directa de colección multimarca de trajes de novio, padrino e invitados; también
                colección de novia, fiesta y madrina. Comunión y trajes de niño. Servicio de costura y arreglos
                necesarios incluido.
            </p>
            <button type="button" routerLink="/contacto">Contactanos</button>
        </div>
    </div>
</section>