<!-- <div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> 


<div class="site-navbar-wrap">
  <div class="site-navbar-top">
    <div class="container py-3">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="d-flex mr-auto">
            <a href="#" class="d-flex align-items-center mr-4">
              <span class="icon-envelope mr-2"></span>
              <span class="d-none d-md-inline-block">info@domain.com</span>
            </a>
            <a href="#" class="d-flex align-items-center mr-auto">
              <span class="icon-phone mr-2"></span>
              <span class="d-none d-md-inline-block">+1 234 4567 8910</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-navbar site-navbar-target js-sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-2">
          <a class="navbar-brand" routerLink="/">
            <img class="rounded" src="assets/logo/logo.png" alt="logo empresa" width="30" height="24">
          </a>
        </div>
        <div class="col-10">
          <nav class="site-navigation text-right" role="navigation">
            <div class="container">
              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#"
                  class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

              <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a routerLink="/" class="nav-link">Home</a></li>
                <li><a href="#classes-section" class="nav-link">Próximos eventos</a></li>
                <li class="has-children">
                  <a href="#" class="nav-link">Pages</a>
                  <ul class="dropdown arrow-top">
                    <li><a href="#" class="nav-link">Team</a></li>
                    <li><a href="#" class="nav-link">Pricing</a></li>
                    <li><a href="#" class="nav-link">FAQ</a></li>
                    <li class="has-children">
                      <a href="#">More Links</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a routerLink="/productos" class="nav-link">Catálogo</a></li>
                <li><a routerLink="/productos?" class="nav-link">Vestidos</a></li>
                <li><a href="#gallery-section" class="nav-link">Accesorios</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="hero" style="background-image: url('assets/img.jpg');"></div> -->

<div class="wrapper">
  <nav class="nav">
    <span id="brand">
      <a routerLink="/">
        <img class="rounded" src="assets/logo/logo.png" alt="logo empresa" width="30" height="24"> Tejidos Martín
      </a>
    </span>

    <ul id="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/eventos">Proximos Eventos</a></li>
      <li><a routerLink="/productos">Catálogo</a></li>
      <li><a routerLink="/productos">Vestidos</a></li>
      <li><a routerLink="/productos">Accesorios</a></li>
    </ul>

    <div id="toggle">
      <div class="span">menu</div>
    </div>

  </nav>

  <div id="resize">
    <div class="close-btn">close</div>

    <ul id="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/eventos">Proximos Eventos</a></li>
      <li><a routerLink="/productos">Catálogo</a></li>
      <li><a routerLink="/productos">Vestidos</a></li>
      <li><a routerLink="/productos">Accesorios</a></li>
    </ul>
  </div>

  <div class="hero" style="background-image: url('assets/img.jpg');"></div>

</div>

