<div class="wrapper">
  <nav class="nav">
    <span id="brand">
      <a routerLink="/">
        <img class="rounded" src="assets/logo/logo.png" alt="logo empresa" width="30" height="24"> Tejidos Martín
      </a>
    </span>

    <ul id="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/eventos">Proximos Eventos</a></li>
      <li><a routerLink="/productos">Catálogo</a></li>
      <li><a [routerLink]="['/productos']" [queryParams]="{filter: 'vestido boda'}">Vestidos</a></li>
      <li><a routerLink="/productos">Accesorios</a></li>
      <li>
        <a routerLink="/auth/login">
          <mat-icon class="spacer-mat-icon">person</mat-icon>
        </a>
        <a routerLink="/carrito">
          <mat-icon class="spacer-mat-icon">shopping_cart</mat-icon>
        </a>
      </li>
    </ul>

    <div id="toggle">
      <div class="span">
        <mat-icon>menu</mat-icon>
      </div>
    </div>

  </nav>

  <div id="resize">
    <div class="close-btn">
      <mat-icon>close</mat-icon>
    </div>

    <ul id="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/eventos">Proximos Eventos</a></li>
      <li><a routerLink="/productos">Catálogo</a></li>
      <li><a routerLink="/productos">Vestidos</a></li>
      <li><a routerLink="/productos">Accesorios</a></li>
      <li>
        <a routerLink="/auth/login">
          <mat-icon class="spacer-mat-icon">person</mat-icon>
        </a>
        <a routerLink="/carrito">
          <mat-icon class="spacer-mat-icon">shopping_cart</mat-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="hero" style="background-image: url('assets/img.jpg');"></div>

</div>